<!DOCTYPE HTML>
<html>
<head>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js"></script>
    <script type="text/javascript" charset="utf-8">

    $(document).ready(function(){
      var socket = io.connect('http://' + document.domain + ':' + location.port + '/socket');

      socket.on('response', function(msg) {
        var convertMsg = msg.data.split(',').map(Number);
          console.log(convertMsg.length);

      });

      // Toggle mechanic
      $("button").mouseup(function(){
        var msg = $(this).attr('id');
        socket.emit('msgEvent', {data: msg});
      })
      $("button").mousedown(function(){
        var msg = $(this).attr('id');
        socket.emit('msgEvent', {data: msg});
      })
    });

    </script>
</head>
<body>
  <button id="class0">add class 0</button>
  <br>
  <button id="class1">add class 1</button>
  <br>
  <button id="train">train</button>
</body>
</html>
