<!DOCTYPE HTML>
<html>
<head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" type="text/css" href="../static/style/style.css">
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/socket.io.js"></script>

</head>
<body oncontextmenu="return false">
  <div class="app-wrapper">
    <!-- Start of app -->
    <div class="header">
        <h1>Project<br>Alias</h1>
        <div>
          <p class="meta-info">Prediction: <span id="result">0</span></p>
          <p class="meta-info">Background Examples: <span id="bg_examples">0</span></p>
        </div>
    </div>

    <div class="main-content">
      
        <div class="viz-wrapper">

          <div class="abs-wrapper example-info">
            <div class="record-info">
              <h2 id="tr_examples">0</h2>
              <p style="margin: 0; color:#EEEEEE; opacity: 0.3">examples</p>
            </div>
          </div>

        <div class="abs-wrapper">
          <canvas class="viz-content" id="canvas"> spectogram </canvas>
        </div>

      </div>
  
      <div class="record-wrapper">
        <div class="vertical-align-wrapper">
          <div class="round">
            <button class="toggle round" id="class1"></button>
          </div>
        </div>
      </div>

      <div class="menu">
        <div class="icon-wrapper">
          <img class="vertical-align-wrapper" src="../static/assets/settings.svg">
        </div>
        <button class="toggle" id="class0">eadd class 0</button>
        <button id="train">train</button>
        <button id="reset">reset</button>
      </div>
    </div>

    

  <!-- End of app -->
  </div>

  <!-- Javascript -->
  <script type="text/javascript" src="../static/js/interaction.js" charset="utf-8"></script>
  <script type="text/javascript" src="../static/js/visualization.js" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8">       
    var socket = io.connect('http://' + document.domain + ':' + location.port + '/socket');
    $(document).ready(function(){

      // Get data from python
      socket.on('sound', function(msg) {  
        var spectogram = $.parseJSON(msg.spectogram);
        drawSpectogram(spectogram);
      });

      socket.on('response', function(msg) {
        console.log(msg);
        $('#result').text(msg.result);
        $('#bg_examples').text(msg.bg_examples);
        $('#tr_examples').text(msg.tr_examples);
      });

      button_interaction();
      menu_interaction()

      $('body').disableSelection();
    });

    //prevent scroll on phone
    document.ontouchmove = function(event){
      event.preventDefault();
    }
  </script>
</body>
</html>
