<!DOCTYPE HTML>
<html>
<head>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js"></script>

</head>
<body>
  <button class="toggle" id="class0">add class 0</button>
  <br>
  <button class="toggle" id="class1">add class 1</button>
  <br>
  <button id="train">train</button>
  <br>
  <br>
  <button id="reset">reset</button>
  <br>
  <span>Prediction: </span><span id="result"></span>
  <br>
  <span>Background Examples: </span><span id="bg_examples"></span>
  <br>
  <span>Trigger Examples: </span><span id="tr_examples"></span>
  <br>
  <canvas id="canvas" width="256" height="256"> spectogram </canvas>

  <div class="slidecontainer">
   <input type="range" min="0.0" max="10.0" value="2.0" step="0.1" class="slider" id="myRange">
</div>

  <!-- Javascript -->
  <script type="text/javascript" charset="utf-8">
    var normalizer = 2;
    var slider = document.getElementById("myRange");
    slider.oninput = function() {
      normalizer = this.value;
      console.log(normalizer);
    }
    $(document).ready(function(){
      var socket = io.connect('http://' + document.domain + ':' + location.port + '/socket');

      // Get data from python
      socket.on('response', function(msg) {
        console.log(msg)
        var spectogram = $.parseJSON(msg.spectogram);
        drawSpectogram(spectogram);
        $('#result').text(msg.result);
        $('#bg_examples').text(msg.bg_examples);
        $('#tr_examples').text(msg.tr_examples);
      });

      var timeOut;
      // Toggle mechanic
      $(".toggle").mousedown(function(){
        var msg = $(this).attr('id');
        timeOut=setInterval(function() {
           socket.emit('msgEvent', {data: msg});
        }, 100);
      })

      $(".toggle").mouseup(function(){
        clearInterval(timeOut)
      })

      //train btn
      $("#train").mousedown(function(){
        socket.emit('msgEvent',{data:"train"});
      })
      $("#reset").mousedown(function(){
        socket.emit('msgEvent',{data:"reset"});
      })




    });

    /////////////////////////////////////////////////////
    // SPECTOGRAM
    var canvas = document.getElementById('canvas');
    var ctx = canvas.getContext("2d");

    var resolution = 40;
    var xRes = canvas.width / resolution;
    var yRes = canvas.height / resolution;

    function drawSpectogram(data){
      //Draw the spectrogram
      for (var x = 0; x < data.length-1; x++) {
        for (var y = data[0].length-1; y > 0; y--) {

          var value = Math.floor(data[x][y]);
          var hue = 140 //+(Math.abs(value)/6);
          var bri = value / normalizer;
          ctx.fillStyle = 'hsl('+ hue +',100%,'+bri+'%)';
          ctx.fillRect(xRes * x, yRes * y, xRes, yRes);
        }
      }
    }

    function mapRange (value, a, b, c, d) {
      value = (value - a) / (b - a);
      return c + value * (d - c);
    }

  </script>
</body>
</html>
